<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>BOARD</title>
</head>
<body>
<center>
    <h1>게시판 테스트</h1>
    <hr>
    <table th:border="1" th:cellpadding="1" th:cellspacing="0">
        <tr th:align="center">
            <td th:bgcolor="orange" th:width="70">번호</td>
            <td th:bgcolor="lime" th:width="100">이름</td>
            <td th:bgcolor="lime" th:width="200">제목</td>
            <td th:bgcolor="lime" th:width="110">등록일</td>
            <td th:bgcolor="lime" th:width="65">조회수</td>
        </tr>
    </table>
</center>

</body>
</html>