<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="boardContainerFragment" >
    <div class="col-7 text-light" style="background-color: cadetblue">
        <div th:if="${postBtn == false}">
            <th:block th:replace="board/boardList :: boardListFragment" ></th:block>
        </div>
        <div th:unless="${postBtn == false}">
            <th:block th:replace="board/insertBoard :: insertBoardFragment"></th:block>
        </div>
    </div>
</th:block>
</html>