<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="insertBoardFragment">
    <div class="container" style="background-color: midnightblue">
        <form action="/insert" method="post">
            <div class="row">
                <input class="posting-title" type="text" name="title" placeholder="제목">
                <hr>
                <textarea class="posting-content" type="text" name="content"  placeholder="내용을 입력하세요.."></textarea>
            </div>
            <div class="row">
                <div class="col-auto">
                    <input class="btn btn-primary" type="button" role="button" value="글 목록" th:onclick="|location.href='@{/}'|">
                </div>
                <div class="col-auto">
                    <input class="btn btn-primary" type="submit" role="button" value="글 쓰기">
                </div>
            </div>
        </form>
    </div>
</th:block>
</html>