<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"></html>
<th:block th:fragment="viewBoardFragment">
    <div class="container text-light">
        <div class="row">
            <div class="viewing-title" th:text="${selectedBoard.title}"></div>
            <hr>
        </div>
        <div class="row" style="background-color: darkgoldenrod">

            <span class="col-1" th:text="${selectedBoard.member.name}"></span>

            <div class="col">
                <span th:text="${#temporals.format(selectedBoard.createDate,'yyyy/MM/dd HH:mm')}"></span>
            </div>
            <div class="col d-flex justify-content-end">
                <a class="viewing-btn" href="/">글 목록</a>
                <a class="viewing-btn" th:href="@{/board/view/update(seq=${selectedBoard.seq})}" th:text="수정"></a>
                <a class="viewing-btn" th:href="@{/board/view/delete(seq=${selectedBoard.seq})}" th:text="삭제"></a>
            </div>
        </div>
        <div class="row mt-2 mb-5">
            <!--조회수-->
            <i class="bi-eye-fill " th:text="' '+${selectedBoard.views}"></i>
            <!--좋아요 수-->
            <i class="bi bi-suit-heart-fill" style="color: #0a58ca" th:text="' '+${#lists.size(selectedBoard.likes)}"></i>
        </div>
        <div class="row pb-5 mb-5">
            <div class="viewing-content" th:text="${selectedBoard.content}"></div>
        </div>
        <form th:action="@{/board/view/likes(seq=${selectedBoard.seq})}" method="post">
            <button class="btn btn-dark">
                <i class="bi bi-suit-heart"></i> 좋아요
            </button>
        </form>
        <!--댓글 영역-->
        <th:block th:replace="/board/comment/commentContainer :: commentContainerFragment"></th:block>
    </div>
</th:block>
</html>
