<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--head-->
<th:block th:replace="commonFragment/head :: headFragment('회원 정보')"/>
<!--header-->
<th:block th:replace="commonFragment/header :: headerFragment"/>
<body class="bg-dark">
<div class="container-info text-light">
    <div class="row py-2">

        <!--썸네일-->
        <div class="col-sm-3 py-2" style="border: 1px solid transparent; border-right-color: gray">
            <div class="row px-3">
                <img class="info-kakao" th:src="${member.picture}" alt="kakaoProfile"/>
                <button class="info-img-btn-upload">이미지 업로드</button>
                <button class="info-img-btn-remove">이미지 제거</button>
            </div>
        </div>

        <!--회원 정보-->
        <div class="col py-3 px-5" id="viewInfoForm">
            <th:block th:replace="/member/viewInfo :: viewInfoFragment"/>
        </div>

        <!--회원 정보 수정-->
        <div class="col py-3 px-5" id="editInfoForm" style="display: none">
            <th:block th:replace="/member/editInfo :: editInfoFragment"/>
        </div>
    </div>
    <br>
    <hr>
    <div class="row g-2">
<!--        <div class="col-2" style="font-size: 20px; font-weight: bold">회원 탈퇴</div>-->
        <button class="col-2 w-40 btn btn-sm btn-success" type="button" onclick="delete_member()">회원 탈퇴
        </button>
        <span>탈퇴 시 작성하신 포스트 및 댓글이 모두 삭제됩니다.</span>
    </div>
</div>
<th:block th:replace="/commonFragment/modal/modalContainer :: modalContainerFragment"/>
<script type="text/javascript" th:src="@{/js/info.js}"></script>
</body>
</html>