<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:replace="commonFragment/head :: headFragment('회원가입 폼')"></th:block>
<style>
    .validation-error{
        color: #FF3C2B;
        font-size: small;
    }
</style>
<body class="bg-dark text-light">
<center>
<div class="container">
    <main>
        <div class="py-5 text-center">
            <h2>Register</h2>
            <p class="lead">회원가입 해보시지 👍</p>
        </div>
        <div class="col-4 text-start">
            <form action="/member" method="post">
                <div class="row g-4">
                    <div class="col-12">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" name="email" id="email" th:value="${memberDto.getEmail()}" class="form-control" placeholder="your@example.com" >
                        <div class="validation-error" th:if="${valid_email}!=null" th:text="${valid_email}"/>
                        <div style="opacity: 0; font-size: small" th:if="${valid_email}==null" th:text="emailerror"/>
                    </div>
                    <div class="col-12">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="password">
                        <div class="validation-error" th:if="${valid_password}!=null" th:text="${valid_password}"/>
                        <div style="opacity: 0; font-size: small" th:if="${valid_password}==null" th:text="passworderror"/>
                    </div>
                    <div class="col-sm-6">
                        <label for="name" class="form-label">NickName</label>
                        <input type="text" name="name" id="name"  th:value="${memberDto.getName()}" class="form-control" placeholder="nickname">
                        <div class="validation-error" th:if="${valid_name}!=null" th:text="${valid_name}"/>
                        <div style="opacity: 0; font-size: small" th:if="${valid_name}==null" th:text="nameerror"/>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label">Role</label>
                        <div class="form-check">
                            <label for="user">USER</label>
                            <input type="radio" name="role" id="user" class="form-check-input" value="USER" checked>
                        </div>
                        <div class="form-check">
                            <label for="admin">ADMIN</label>
                            <input type="radio" name="role" id="admin" class="form-check-input" value="ADMIN">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="age" class="form-label">Age</label>
                        <select class="form-select" name="age" id="age">
                            <option value="">--select--</option>
                            <option th:selected="${memberDto.getAge()} == '10대'">10대</option>
                            <option th:selected="${memberDto.getAge()} == '20대'">20대</option>
                            <option th:selected="${memberDto.getAge()} == '30대'">30대</option>
                            <option th:selected="${memberDto.getAge()} == '40대'">40대</option>
                            <option th:selected="${memberDto.getAge()} == '50대'">50대</option>
                            <option th:selected="${memberDto.getAge()} == '60대 이상'">60대 이상</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <label for="intro" class="form-label">😁 Self-introduction</label>
                        <textarea name="intro" id="intro" class="form-control" th:text="${memberDto.getIntro()}" placeholder="간단한 자기소개를 써주세요. ^^"></textarea>
                    </div>
                </div>
                <br class="my-4">
                <button class="w-100 btn btn-primary btn-lg" type="submit">Register</button>
            </form>
        </div>
    </main>
</div>
</center>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>