<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="commentListFragment">
    <div id="commentList">
        <!--댓글 리스트-->
        <div class="comment-list" th:each="comment : ${selectedBoard.comments}">
            <div th:if="${comment.parent == null}">
                <!--댓글 프로필-->
                <span><img class="comment-profImg my-2" th:src="${comment.member.picture}" alt="Profile"/></span>
                <span class="mx-2" style="font-size: large;" th:text="${comment.member.name}"></span>

                <!--댓글 내용-->
                <div th:id="'comment-view'+${comment.seq}">
                    <th:block th:replace="/board/comment/viewComment :: commentViewFragment"></th:block>
                </div>
                <!--댓글 수정 뷰-->
                <div th:id="'comment-edit'+${comment.seq}" style="display: none">
                    <th:block th:replace="/board/comment/editComment :: commentEditFragment"></th:block>
                </div>
                <hr>
            </div>
        </div>
    </div>
</th:block>
</html>