<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="insertCommentFragment">
    <div class="comment-container my-4">
        <div class="my-2 px-2" th:text="${#lists.size(selectedBoard.comments)}+'개의 댓글'"></div>
        <form name="CreateComment" th:action="@{/comment(seq=${selectedBoard.seq})}" method="post">
            <div>
                <input type="hidden" th:value="${selectedBoard.seq}" id="boardSeq"/>
                <textarea class="comment-textarea my-2" id="commentContent" onkeyup="resize(this)" type="text"
                          name="commentContent" placeholder="댓글을 작성하세요"></textarea>
            </div>
            <div style="display: flex; justify-content: flex-end">
                <div class="my-1 mx-2" id="error" style="font-size: small;color: yellow;display: none">빈칸은 댓글 등록이
                    안됩니다.
                </div>
                <button class="btn btn-primary my-1 mx-2" style="align-self: flex-end" type="button"
                        id="ajax_button">댓글 작성
                </button>
            </div>
        </form>
    </div>
    <script type="text/javascript" th:src="@{/js/commentAjax.js}"></script>
</th:block>
</html>