<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="commentReplyFragment">
    <div th:id="'replyContainer'+${comment.seq}">
        <div class="my-3" th:if="${#lists.size(comment.children)} != 0">
            <span class="reply-line" style="font-weight: bold"
                  th:text="${#lists.size(comment.children)}+'개의 답글'"></span>
        </div>
        <!--답글 리스트-->
        <div th:each="child : ${comment.children}">
            <!--답글쓴 멤버-->
            <span class="mx-2" style="font-size: small;font-weight: bold;color: #ACA7CB"
                  th:text="${child.member.name}"></span>
            <span class="mb-1" style="font-size: small; color: gray"
                  th:text="${#temporals.format(child.createDate,'MM/dd HH:mm')}"></span>
            <!--댓글 내용-->
            <div class="mx-2 mb-3" th:text="${child.content}" style="font-size: small;"></div>
        </div>
        <!--답글 쓰기-->
        <div style="display: flex; justify-content: flex-end;">

            <div class="px-2" style="display: flex; justify-content: space-between;font-size: small">
                <a class="viewing-btn mx-1" th:attr="onclick=|CreateReplyView('${comment.seq}')|" th:text="취소"></a>
            </div>
        </div>
        <div>
                <textarea class="comment-textarea my-2" th:id="'reply-content'+${comment.seq}" onkeyup="resize(this)"
                          type="text"
                          name="commentContent" placeholder="답글 남기기.."></textarea>
        </div>
        <div style="display: flex; justify-content: flex-end">
            <div class="my-1 mx-2" th:id="'reply-error'+${comment.seq}"
                 style="font-size: small;color: yellow;display: none">빈칸은 등록이 안됩니다.
            </div>
            <button class="btn btn-warning my-1 mx-2" style="align-self: flex-end" type="button"
                    th:attr="onclick=|checkForm('ReplyComment${comment.seq}','reply-content${comment.seq}','reply-error${comment.seq}')|">
                답글 달기
            </button>
            <button type="button" th:attr="onclick=|insertReply(${comment.seq})|">답글 달기</button>
        </div>
    </div>
</th:block>
</html>