<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="commentViewFragment">
    <!--댓글 -->
    <div style="display: flex; justify-content: space-between;">
        <div class="mb-3" style="font-size: small; color: gray"
             th:text="${#temporals.format(comment.createDate,'yyyy년 MM월 dd일 HH:mm')}"></div>

        <div class="px-2" style="display: flex; justify-content: space-between;font-size: small">

            <!--삭제 버튼-->
            <a class="viewing-btn mx-1"
               th:if="${member != null} and (${comment.member.email} == ${member.email} or ${member.email} == ${selectedBoard.member.email})"
               th:attr="onclick=|deleteComment('${comment.seq}')|" th:text="삭제"></a>

            <!--수정 버튼-->
            <a class="viewing-btn mx-1" th:if="${member != null} and (${comment.member.email} == ${member.email})"
               th:attr="onclick=|edit('${comment.seq}')|" th:text="수정"></a>

            <!--답글 버튼-->
            <a class="viewing-btn mx-1" th:if="${member != null}" th:attr="onclick=|CreateReplyView('${comment.seq}')|">답글</a>
        </div>
    </div>
    <!--댓글 내용-->
    <div class="my-2" style="white-space: pre" th:text="${comment.content}"></div>

    <!--대댓글 뷰-->
    <div th:id="'comment-reply'+${comment.seq}" style="display: none">
        <th:block th:replace="/board/comment/replyComment :: commentReplyFragment"></th:block>
    </div>
</th:block>
</html>