/*
    게시판 스타일
*/
.board-list{
    color: #FFFFFF;
    text-decoration: none;
}
.board-list:hover{
    text-decoration: underline;
    color: #FFFFFF;
    mix-blend-mode: difference;
}


/*
    포스팅 스타일
*/
/* 포스팅 타이틀 스타일 */
.posting-title{
    border: none;
    background-color: transparent;
    color:#FFFFFF;
    width: 100%;
    font-size: 50px;
}
.posting-title::placeholder{
    color: lightgray;
}
.posting-title:focus{
    outline: none;
}

/* 포스팅 컨텐츠 스타일 */
.posting-content{
    border: none;
    background-color: transparent;
    color:#FFFFFF;
    height: 500px;
    font-size: 30px;
    width: 100%;
}
.posting-content::placeholder{
    color: lightgray;
}
.posting-content:focus{
    outline: none;
}

/*
    게시물 조회 스타일
*/
/* 게시물 조회 타이틀 */
.viewing-title{
    font-size: xxx-large;
}
/* 게시물 조회 내용 */
.viewing-content{
    color: white;
    white-space: pre;
    font-size: larger;
}
/* 수정 및 삭제 버튼 */
.viewing-btn{
    color: #FFFFFF;
    margin-left: 1rem;
    text-decoration: none;
}
.viewing-btn:hover{
    text-decoration: underline;
    color: crimson;
}
/*
    댓글 스타일
*/
.comment-container{
    /*background-color: #14652a;*/
    font-size: 18px;
    width: 100%;
}
.comment-textarea {
    padding: 12px;
    border-radius: .8em;
    background-color: #1f1f1f;
    color: #FFFFFF;
    font-size: 14px;
    width: 100%;
    height: 90px;
    resize: none;
}
.comment-textarea::placeholder{
    font-size: 16px;
    color: #606060;
}
.comment-textarea:focus{
    outline: none;
}
/*
    카카오 버튼 이미지
*/
.btn-kakao{
    border: none;
    background-color: blue;
    width: 300px;
    height: 45px;
}
.btn-kakao:hover{
    filter: brightness(90%);
}
/*
    구글 버튼 이미지
*/
.btn-google{
    border: none;
    background-color: transparent;
}
/*
    로그인후 프로필이미지
*/
.prof-kakao{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
/*
    회원정보 사진
*/
.info-kakao{
    width: 100%;
    border-radius: 50%;
    margin-bottom: 1em;
}
.info-img-btn-upload{
    width: 40%;
    height: 35px;
    border: none;
    border-radius: 0.2em;
    margin-bottom: 0.8em;
    background-color: #20c997;
    font-weight: bold;
    filter: brightness(130%);
    color: #1e2125;
}
.info-img-btn-upload:hover{
    filter: brightness(100%);
}
.info-img-btn-remove{
    width: 40%;
    height: 35px;
    border: none;
    border-radius: 0.2em;
    margin-bottom: 1em;
    background-color: transparent;
    font-weight: bold;
    color: #FFFFFF;
}
.info-img-btn-remove:hover{
    background-color: gray;
    color: #1e2125;
    filter: brightness(90%);
}
.info-nickname{
    font-weight: bold;
    font-size: 34px;
    color: #FFFFFF;
}
.info-intro{
    font-size: 16px;
    color: lightgray;
}
/*
    수정 폼
*/
.edit-info{
    width: 100%;
    background-color: #0c4128;
    border-radius: 0.2em;
    border-color: #FFFFFF;
    color: #FFFFFF;
}
.edit-nickname{
    font-weight: bold;
    font-size: 34px;
    justify-content: center;
}
.edit-intro{
    font-size: 20px;
}
.edit-btn-confirm{

}
.edit-btn-cancel{

}




.container-main{
    width: 100%;
    height: 100%;
}
.container-info{
    margin: auto;
    width: 50%;
    height: 100%;
}
/*
    modal
*/
.modal-view{
    background-color: rgba(0,0,0,.3);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
    padding:15px;
}
.modal-content{
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #FFFFFF;
    box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);
}
