/*
    게시판 스타일
*/
.board-list{
    color: #FFFFFF;
    text-decoration: none;
}
.board-list:hover{
    text-decoration: underline;
    color: #FFFFFF;
    mix-blend-mode: difference;
}


/*
    포스팅 스타일
*/
/* 포스팅 타이틀 스타일 */
.posting-title{
    border: none;
    background-color: transparent;
    color:#FFFFFF;
    width: 100%;
    font-size: 50px;
}
.posting-title::placeholder{
    color: lightgray;
}
.posting-title:focus{
    outline: none;
}

/* 포스팅 컨텐츠 스타일 */
.posting-content{
    border: none;
    background-color: transparent;
    color:#FFFFFF;
    height: 500px;
    font-size: 30px;
    width: 100%;
}
.posting-content::placeholder{
    color: lightgray;
}
.posting-content:focus{
    outline: none;
}

/*
    게시물 조회 스타일
*/
/* 게시물 조회 타이틀 */
.viewing-title{
    font-size: xxx-large;
}
/* 게시물 조회 내용 */
.viewing-content{
    font-size: larger;
}
/* 수정 및 삭제 버튼 */
.viewing-btn{
    color: #FFFFFF;
    margin-left: 1rem;
    text-decoration: none;
}
.viewing-btn:hover{
    text-decoration: underline;
    color: crimson;
}



.btn-kakao{
    border: none;
    background-color: transparent;
}
.btn-kakao:hover{
    filter: brightness(90%);
}
.prof-kakao{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}