<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--head-->
<th:block th:replace="commonFragment/head :: headFragment('Home')"></th:block>

<body class="bg-dark">
<!--header-->
<th:block th:replace="commonFragment/header :: headerFragment"></th:block>

<main class="container-fluid" style="background-color: cornflowerblue">
    <div class="row">
        <!--LeftSideBar-->
        <th:block th:replace="commonFragment/leftSide :: sideLFragment"></th:block>

        <!--Board Container-->
        <th:block th:replace="board/boardContainer :: boardContainerFragment"></th:block>
    </div>
</main>

</body>
<!--footer-->
<th:block th:replace="commonFragment/footer :: footerFragment"></th:block>
</html>
