<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
<form action="/board" method="post">
    <table border="1" cellpadding="0" cellspacing="0">
        <tr>
            <td bgcolor="orange">아이디</td>
            <td><input type="text" name="id"/></td>
        </tr>
        <tr>
            <td bgcolor="orange">비밀번호</td>
            <td><input type="password" name="password"/></td>
        </tr>
        <tr>
            <td colspan="2" align="center" style="background-color: coral">
                <input type="submit" value="로그인"/>
            </td>
        </tr>
    </table>
</form>
<br>
<a href="member/insertMember">회원 가입</a>
</div>
</body>
</html>